doctype html
html    
    head
        script(src="https://kit.fontawesome.com/9996bbd1d6.js")
        title #{pageTitle} | #{siteName}
    body
        include ../partials/header
        block content
        include ../partials/footer
        